<footer class="footer-section pt-120" data-background="../../Content/assets/img/bg-img/footer-bg.png">
    <div class="footer-top-wrap">
        <div class="container">
            <div class="row footer-wrap">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <img src="~/Content/assets/img/Banner/Logo_Ujjwal.png" style="width:60%; background-color: white; border-radius: 10px;" />
                        <p>
                            Empower your future through education—gain skills, unlock opportunities, and grow with us. Join today to shape a better tomorrow.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget widget-2">
                        <h3 class="widget-header">Company Info</h3>
                        <ul class="footer-list">
                            <li><a href="@Url.Action("About","Home")">About Us</a></li>
                            <li><a href="@Url.Action("Service","Home")">Service</a></li>
                            <li><a href="@Url.Action("Blog","Home")">Blog</a></li>
                            <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                            <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <h3 class="widget-header">Contact info</h3>
                        <div class="footer-contact text-white">
                            <span class="text-white"><i class="fa-regular fa-phone"></i><a href="tel:8709989856"> +91 8709989856</a></span>
                            <br />
                            <i class="fa-regular fa-envelope"></i> <a href="mailto:info@ujjawalsansakar.in" class="mail"> info@ujjawalsansakar.in</a>
                            <br />
                            <i class="fa-regular fa-location-plus"></i> <a href="" class="mail"> Kayampur Samnapar Khusrupur</a>

                        </div>
                        <ul class="footer-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="copyright-content">
                <p>Copyright © 2025 Ujjawal Sansakar. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
