@model Web.Areas.Admin.MemberModel
@{
    ViewBag.Title = "UserGoleComList";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int i = 0;
}
<div class="page-wrapper">
    <!--page-content-wrapper-->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Gole Completed List</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Gole Completed List</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="mb-0">Gole Completed List</h4>
                    </div>
                    <hr />
                    <div class="table-responsive">
                        <table id="example2" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <td>Token Id</td>
                                    <td>Full Name</td>
                                    <td>Parent Id</td>
                                    <td>Parent Name</td>
                                    <td>Positon</td> 
                                    <td>Gole</td>
                                    <td>Certificate</td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.List_Registration_Businesses_Obj != null && Model.List_Registration_Businesses_Obj.Count > 0)
                                {
                                    foreach (var items in Model.List_Registration_Businesses_Obj)
                                    {
                                        <tr>
                                            <td>@(++i)</td>
                                            <td>@items.Token_Id</td>
                                            <td>@items.Full_Name</td>
                                            <td>@items.Parent_Id</td>
                                            <td>@items.Parent_Name</td>
                                            <td>@items.Position</td>
                                            <td>@(items.IsGoleComplete??false ? "Yes":"No")</td>
                                            <td>@Url.Action("Certificate", "Home", new { Token_Id = items.Token_Id})</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <td>Token Id</td>
                                    <td>Full Name</td>
                                    <td>Parent Id</td>
                                    <td>Parent Name</td>
                                    <td>Positon</td>
                                    <td>Gole</td>
                                    <td>Certificate</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end page-content-wrapper-->
</div>